@import '../../mixins/shadow';
@import '../../common/colors';
@import '../../common/variables';
@import '../../common/z-indexes';

header {
    @include bottom-shadow;

    .main {
        z-index: $z-index--highest;
        position: relative;
        background-color: $brand-color;
        padding: $gutter-size / 2 0;
        height: $header-height;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }

    .main > * {
        margin-left: $gutter-size;

        &:last-child {
            margin-right: $gutter-size;
        }
    }

    h1 {
        font-size: 1.3em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .menu-button {
        align-self: stretch;
    }

    .controllers {
        display: flex;
        align-self: stretch;
    }

    .icon {
        font-size: 1.4em;
    }
}
