@import '../../mixins/shadow';
@import '../../common/colors';
@import '../../common/variables';
@import '../../common/z-indexes';

header {
    @include bottom-shadow;

    z-index: $z-index--highest;
    position: relative;
    display: flex;
    height: $header-height;
    background-color: $brand-color;
    box-sizing: border-box;
    align-items: center;
    padding: $gutter-size / 2 0;

    > * {
        margin-left: $gutter-size;

        &:last-child {
            margin-right: $gutter-size;
        }
    }

    h1 {
        font-size: 1.3em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .controllers {
        display: flex;
        align-self: stretch;
    }

    .icon {
        font-size: 1.4em;
    }
}
