@import '../../common/variables';

.search-container {
    flex-grow: 1;
    align-items: center;
    position: relative;

    .input-icon-container {
        display: flex;
        align-items: center;
    }

    .icon {
        position: absolute;
        left: $gutter-size;
    }

    .search-input {
        border-radius: 4px;
        transition: background-color .4s ease;
        background-color: rgba(255, 255, 255, .2);
        flex-grow: 1;
        padding: $gutter-size;
        padding-left: $gutter-size * 4;
        outline: none;
        border: 0 none;
        font-size: 1.4em;

        &:focus {
            background-color: rgba(255, 255, 255, .4);
        }
    }
}
