@import '../common/variables';

.content {
    position: fixed;
    top: $body-top-padding;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;

    &.modal {
        overflow-y: hidden;
    }
}
