@import '../common/colors';
@import '../common/variables';

.icon.button {
    padding: $gutter-size / 2 $gutter-size;
    border: 0 none;
    background: none;

    .bordered {
        border: 1px solid $brand-text;
    }
}
