@import '../common/colors';
@import '../common/variables';

.labels-container {
    padding: $gutter-size;
    display: flex;
    align-items: center;

    .labels {
        display: flex;
        flex-wrap: wrap;
    }

    .label,
    .label-input {
        border-radius: 4px;
    }

    .label {
        border: 1px solid $brand-color;
        margin-right: $gutter-size;
        display: flex;

        .name {
            padding: $gutter-size 0 $gutter-size $gutter-size;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .add-label-container {
        display: flex;
    }
}
