@import '../common/colors';
@import '../common/variables';

.transactions-container {
    > ul > li {
        padding: 0;
        margin: 0;

        > div {
            padding: $gutter-size;
        }
    }

    .transaction-item {
        .row {
            display: flex;
        }

        .description {
            flex: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .date {
            color: $brand-text--light;
            text-align: right;
        }

        .amount {
            font-size: 1.4em;
            font-weight: bold;
            margin-top: $gutter-size;
        }
    }
}