@import '../../common/colors';

.button {
    cursor: pointer;
    color: inherit;
    outline: none;
    font-size: inherit;

    &.full-size {
        width: 100%;
        height: 100%;
    }

    &:active,
    &.active {
        background-color: lighten($brand-color, 20%);
    }
}
