@import '../../common/colors';
@import '../../common/variables';

.button {
    padding: $gutter-size / 2 $gutter-size;
    border: 0 none;
    background: none;

    .text {
        font-size: $font-size--medium;
        padding-left: $gutter-size;
    }

    .bordered {
        border: 1px solid $brand-text;
    }
}
