$brand-color: #fb0;
$brand-text: #444;
$brand-text-color--light: #ccc;
$light-text-color: white;
$credit-text-color: #0f9d58;

// BACKGROUND
$light-bg-color: white;
$bg-color-brand--lightest: lighten($brand-color, 40%);

// BORDERS
$border-color--lightest: #ccc;

$inactive-color--lighter: #ccc;
$notification-color: #3c3c3c;
