@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?9wwo13');
    src: url('../fonts/icomoon.eot?9wwo13#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?9wwo13') format('truetype'),
        url('../fonts/icomoon.woff?9wwo13') format('woff'),
        url('../fonts/icomoon.svg?9wwo13#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    color: inherit;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // ICON TYPES
    &.price-tags:before {
        content: "\e936";
    }

    &.coin-dollar:before {
        content: "\e93b";
    }

    &.coin-euro:before {
        content: "\e93c";
    }

    &.coin-pound:before {
        content: "\e93d";
    }

    &.coin-yen:before {
        content: "\e93e";
    }

    &.credit-card:before {
        content: "\e93f";
    }

    &.calendar:before {
        content: "\e953";
    }

    &.upload:before {
        content: "\e961";
    }

    &.undo:before {
        content: "\e965";
    }

    &.redo:before {
        content: "\e966";
    }

    &.search:before {
        content: "\e986";
    }

    &.cog:before {
        content: "\e994";
    }

    &.menu:before {
        content: "\e9bd";
    }

    &.star-full:before {
        content: "\e9d9";
    }

    &.plus:before {
        content: "\ea0a";
    }

    &.minus:before {
        content: "\ea0b";
    }

    &.cross:before {
        content: "\ea0f";
    }

    &.checkmark:before {
        content: "\ea10";
    }

    &.floppy-disk:before {
        content: "\e962";
    }

    &.files-empty:before {
        content: "\e925";
    }

    &.stats-dots:before {
        content: "\e99b";
    }
}
