@import './common/colors';
@import './common/variables';

@import './common/icons';
@import './common/buttons';
@import './common/helpers';

body {
    color: $brand-text;
    font-family: Arial, "sans serif";
    font-size: 14px;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
}
